<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main-app/home"></ion-back-button>
    </ion-buttons>
    <ion-title>My Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>

    <!-- Tab Bar -->
    <ion-tab-bar slot="top">

      <!-- Profile Tab -->
      <ion-tab-button tab="profile" routerLink="profile">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>Profile</ion-label>
      </ion-tab-button>

      <!-- Banks & Cards Tab -->
      <ion-tab-button tab="banks-and-cards" routerLink="banks-and-cards">
        <ion-icon name="card-outline"></ion-icon>
        <ion-label>Banks & Cards</ion-label>
      </ion-tab-button>

      <!-- Addresses Tab -->
      <ion-tab-button tab="addresses" routerLink="addresses">
        <ion-icon name="location-outline"></ion-icon>
        <ion-label>Addresses</ion-label>
      </ion-tab-button>

      <!-- Change Password Tab -->
      <ion-tab-button tab="change-password" routerLink="change-password">
        <ion-icon name="key-outline"></ion-icon>
        <ion-label>Change Password</ion-label>
      </ion-tab-button>

    </ion-tab-bar>

    <!-- Tab Content -->
    <ion-router-outlet></ion-router-outlet>
    
  </ion-tabs>
</ion-content>
